<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.check_box :type %>
  </div>

  <div class="field">
    <%= form.label :amount_due %>
    <%= form.number_field :amount_due %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.number_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :remaining %>
    <%= form.text_field :remaining %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.number_field :payment %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
