<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @account.due_date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @account.amount_due %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @account.frequency %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @account.paid %>
</p>

<p>
  <strong>Remaining:</strong>
  <%= @account.remaining %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @account.payment %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @account.notes %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
